[Unit]
Description=Spotlight
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/spotlight.sh
User=remy
StandardOutput=syslog
StandardError=syslog
